.views .view-data .navbar {
    background: linear-gradient(rgba(57, 44, 44, 0.58), rgba(223, 204, 204, 0.11));
}

.views .view-data .navbar::after {
    height: 0;
}

.views .view-data .page .page-content {
    padding-top: 0px;
    background: url('../../img/backgroud.jpg') center no-repeat;
}

.hero-content .hero-title {
    padding-left: 5px;
    color: #fff;
}

.hero-content .hero-ul {
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.hero-content .hero-ul li {
    width: 16.1%;
    height: 100%;
    float: left;
    margin: 0 1px;
    background: rgba(76, 68, 70, 0.93);
    text-align: center;
}

.hero-content .hero-ul li a img {
    width: 100%;
}